/frontend/node_modules
/backend/node_modules
/backend/.keystone
/backend/.vscode
/backend/.env
.env
.vscode
/.vscode
yarn.lock
schema.graphql
/backend/schema.graphql
/backend/schema.prisma

# Next.js build dir
.next

# Keystone build dir
.keystone
